* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  background: #222222;
  /* equal to footer height */
  margin-bottom: -70px; 
}

.header {
  width: 100%;
  background: #CF5D5D;
  min-height: 50px;
  font-family: serif;
}

.header-title {
  text-align: center;
  color: #ffffff;
}

.input {
  margin: 10px auto;
  width: 90%;
  min-height: 270px;
  background: #555555;
}

.input-type-wrapper {
  display: inline-block;
  width: 22%;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.input-type {
  color: #ffffff;
  font-size: 16pt;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.input-type-link {
  color: #ffffff;
  font-family: sans-serif;
}

.input-type-list {
  color: #dddddd;
  text-align: left;
}

.hide {
  display: none;
}

.hide + label ~ div {
  display: none;
}

.hide:checked + label {
  color: #E64C00;
  text-shadow: 0 0 10px;
}

.hide:checked + label + div {
 display: block;
} 

.hide:checked .input-type-list {
  display: none;
}

.input-field {
  border: solid 1px black;
  margin-bottom: 5px;
}

.result {
  word-wrap: break-word;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 70px; 
}

.site-footer {
  background: #111111;
  box-shadow: inset 0 0 20px;
}
